# Dependency directories
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Compiled files
dist/
build/

# Coverage directory used by tools like Istanbul
coverage/

